@page "/about"
@using Resume.BlazorClient.TransferObjects

<PageTitle>About Me</PageTitle>

<MudTimeline TimelinePosition="TimelinePosition.Start" TimelineAlign="TimelineAlign.Start" DisableModifiers="true">

    <MudTimelineItem Size="Size.Medium" Color="Color.Info" Elevation="25">
        <ItemDot>
            <MudIcon Size="Size.Medium" Icon="@Icons.Filled.Person" />
        </ItemDot>
        <ItemContent>
            <MudCard Outlined="true" Elevation="25">
                <MudCardHeader>
                    <MudText Typo="Typo.h6">Profile</MudText>
                </MudCardHeader>
                <MudDivider />
                <MudCardContent>
                    <MudText Typo="Typo.body2" Align="Align.Justify">
                        Learning C# back in 2016 and loving it since then. Using WPF based project for my diploma degree and expanding to ASP.Net MVC 5 based project
                        with Entity Framework 6 for data management when got first job. Implementing Depedency Injection using Unity library and repository pattern.
                        Then starting learning ASP.Net Core 2.1 MVC based project in 2019 for maintaining new application from another vendor.
                        Got interest in Blazor WASM and implementing with new version of .Net 6 API and IdentityServer4.
                    </MudText>
                </MudCardContent>
            </MudCard>
        </ItemContent>
    </MudTimelineItem>

    <MudTimelineItem Size="Size.Medium" Color="Color.Info" Elevation="25">
        <ItemDot>
            <MudIcon Size="Size.Medium" Icon="@Icons.Filled.Work" />
        </ItemDot>
        <ItemContent>
            <MudCard Outlined="true" Elevation="25">
                <MudCardHeader>
                    <MudText Typo="Typo.h6">Employment History</MudText>
                </MudCardHeader>
                <MudDivider />
                <MudCardContent>
                    <MudTimeline TimelinePosition="TimelinePosition.Start" TimelineAlign="TimelineAlign.Start" DisableModifiers="true">
                        @foreach (var experience in Experiences)
                        {
                            <MudTimelineItem Size="Size.Small" Color="Color.Info" Elevation="25">
                                <MudText Typo="Typo.h6">@experience.Period @experience.EmployeeName</MudText>
                                <MudText Typo="Typo.body1">@experience.Position</MudText>
                                <MudText Typo="Typo.body1">Details</MudText>
                                <ul type="circle" class="pl-8">
                                    @foreach (var detail in experience.JobDetail)
                                    {
                                        <li>
                                            <MudText Class="flex-none" Typo="Typo.body1">
                                                <MudIcon Class="flex-none mr-1" Size="Size.Medium" Color="Color.Info" Icon="@Icons.Filled.Check" />
                                                @detail
                                            </MudText>
                                        </li>
                                    }
                                </ul>
                            </MudTimelineItem>
                        }
                    </MudTimeline>
                </MudCardContent>
            </MudCard>
        </ItemContent>
    </MudTimelineItem>

    <MudTimelineItem Size="Size.Medium" Color="Color.Info" Elevation="25">
        <ItemDot>
            <MudIcon Size="Size.Medium" Icon="@Icons.Filled.Star" />
        </ItemDot>
        <ItemContent>
            <MudCard Outlined="true" Elevation="25">
                <MudCardHeader>
                    <MudText Typo="Typo.h6">Skills</MudText>
                </MudCardHeader>
                <MudDivider />
                <MudCardContent>
                    <MudGrid>
                        @foreach (var skill in Skills)
                        {
                            <MudItem md="3" sm="6" xs="12">
                                <MudPaper Class="d-flex py-2" Width="100%" Elevation="0">
                                    <MudText Class="flex-none" Typo="Typo.h6">
                                        <MudIcon Class="flex-none mr-1" Size="Size.Medium" Color="Color.Info" Icon="@Icons.Filled.Check" />
                                        @skill
                                    </MudText>
                                </MudPaper>
                            </MudItem>
                        }
                    </MudGrid>
                </MudCardContent>
            </MudCard>
        </ItemContent>
    </MudTimelineItem>

    <MudTimelineItem Size="Size.Medium" Color="Color.Info" Elevation="25">
        <ItemDot>
            <MudIcon Size="Size.Medium" Icon="@Icons.Filled.School" />
        </ItemDot>
        <ItemContent>
            <MudCard Outlined="true" Elevation="25">
                <MudCardHeader>
                    <MudText Typo="Typo.h6">Education</MudText>
                </MudCardHeader>
                <MudDivider />
                <MudCardContent>
                    <MudTimeline TimelinePosition="TimelinePosition.Start" TimelineAlign="TimelineAlign.Start" DisableModifiers="true">
                        <MudTimelineItem Size="Size.Small" Color="Color.Info" Elevation="25">
                            <MudText Typo="Typo.h6">(2013-2017) Universitas Islam Syekh Yusuf Tangerang</MudText>
                            <MudText Typo="Typo.body1">Teknik Informatika</MudText>
                        </MudTimelineItem>
                        <MudTimelineItem Size="Size.Small" Color="Color.Info" Elevation="25">
                            <MudText Typo="Typo.h6">(2009-2012) SMKN 1 Tangerang</MudText>
                            <MudText Typo="Typo.body1">Teknik Komputer dan Jaringan</MudText>
                        </MudTimelineItem>
                    </MudTimeline>
                </MudCardContent>
            </MudCard>
        </ItemContent>
    </MudTimelineItem>
</MudTimeline>

<MudDivider />

@code {
    public List<string> Skills => new List<string> {
        "C#",
        "SQL Server",
        ".Net Core",
        "ASP.Net Core",
        "EF Core",
        "Blazor"
    };

    public List<ExperienceTransferObject> Experiences => new List<ExperienceTransferObject>
    {
        new ExperienceTransferObject
        {
            EmployeeName = "PT. Indocyber Global Teknologi",
            Position = ".Net Developer",
            StartPeriod = 2020,
            JobDetail = new List<string>
            {
                "Creating applications (web, console, WCF, API)",
                "Configure task scheduler",
                "Fixing application bugs",
                "Adding features",
                "Optimizing code / script",
                "Deploy application",
            }
        },
        new ExperienceTransferObject
        {
            EmployeeName = "Pusat Teknologi Informasi dan Komunikasi Pendidikan dan Kebudayaan",
            Position = ".Net Developer",
            StartPeriod = 2017,
            EndPeriod = 2019,
            JobDetail = new List<string>
            {
                "Creating applications (web)",
                "Fixing application bugs",
                "Adding features",
                "Optimizing code",
                "Deploy application",
                "Configure Azure CI/CD"
            }
        }
    };


    public class ExperienceTransferObject
    {
        public string EmployeeName { get; set; } = null!;
        public string Position { get; set; } = null!;
        public int StartPeriod { get; set; }
        public int EndPeriod { get; set; }
        public string Period => $"({StartPeriod}-{(EndPeriod == 0 ? "Present" : EndPeriod)})";
        public List<string> JobDetail { get; set; } = new List<string>();
    }
}
