@*@page "/projects"*@
@using Resume.BlazorClient.TransferObjects

<MudText Typo="Typo.h3" Align="Align.Center" Class="py-4 mud-theme-info">Projects</MudText>

<MudTimeline TimelinePosition="TimelinePosition.Start" TimelineAlign="TimelineAlign.Start" DisableModifiers="true">

    @foreach (var project in ProjectList)
    {
        <MudTimelineItem Size="Size.Medium" Color="Color.Info" Elevation="25">
            <MudCard Outlined="true" Elevation="25">
                <MudCardHeader>
                    <MudText Typo="Typo.h6">@project.Name</MudText>
                </MudCardHeader>
                <MudDivider />
                @if (project.Medias.Count > 0)
                {
                    <MudCarousel Class="mud-width-full" Style="height:400px;" ShowBullets="false" TData="object">
                        @foreach (var media in project.Medias)
                        {
                            <MudCarouselItem Transition="Transition.Slide" Color="@Color.Info">
                                <div class="d-flex" style="height:100%">
                                    <MudImage Src="@media" Class="mx-auto" Style="background-size:contain;" />
                                </div>
                            </MudCarouselItem>
                        }
                    </MudCarousel>
                }
                <MudCardContent>
                    <MudText Typo="Typo.body2">@project.Overview</MudText>
                    <MudDivider Class="my-2" />
                    @if (@project.Features.Any())
                    {
                        <MudText Typo="Typo.body2">Features:</MudText>
                        <MudGrid>
                            @foreach (var feature in @project.Features)
                            {
                                <MudItem md="3" sm="6" xs="12">
                                    <MudPaper Class="d-flex py-2" Width="100%" Elevation="0">
                                        <MudText Class="flex-none" Typo="Typo.body1">
                                            <MudIcon Class="mr-1" Size="Size.Medium" Color="Color.Info" Icon="@Icons.Filled.Check" />
                                            @feature
                                        </MudText>
                                    </MudPaper>
                                </MudItem>
                            }
                        </MudGrid>
                        <MudDivider Class="mb-2" />

                    }

                    <MudText Typo="Typo.body2">Tools:</MudText>
                    <MudGrid>
                        @foreach (var tool in @project.Tools)
                        {
                            <MudItem md="3" sm="6" xs="12">
                                <MudPaper Class="d-flex py-2" Width="100%" Elevation="0">
                                    <MudText Class="flex-none" Typo="Typo.body1">
                                        <MudIcon Class="mr-1" Size="Size.Medium" Color="Color.Info" Icon="@Icons.Filled.Check" />
                                        @tool
                                    </MudText>
                                </MudPaper>
                            </MudItem>
                        }
                    </MudGrid>
                </MudCardContent>
            </MudCard>
        </MudTimelineItem>
    }
</MudTimeline>

@code {
    public List<ProjectTransferObject> ProjectList { get; set; } = null!;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        ProjectList = new List<ProjectTransferObject>() {
            new ProjectTransferObject
            {
                Name   = "Kiyu",
                Overview = "Queue Service using CQRS pattern. Github: https://github.com/drajatisme/Kiyu",
                Medias = new List<string>{"images/queue-page.png", "images/swagger-page.png"},
                Tools = new List<string>{ ".Net 6", "Web API", "Blazor WASM", "SignalR", "MudBlazor"},
                Features = new List<string>{ "Realtime App", "Calling Queue" , "CQRS Pattern"}
            },
            new ProjectTransferObject
            {
                Name   = "Host to Host Laku Pandai",
                Overview = "Middleware payment between Mandiri and AXA",
                Tools = new List<string>{ "WCF", "EF6" },
                Features = new List<string>{ "Register VA", "Inquiry", "Payment", "Check "}
            },
            new ProjectTransferObject
            {
                Name   = "Wakaf Engine",
                Overview = "Storing benificiary for wakaf policy, integrating with another data source (customer detail) via API. Automatically update data (investment value) using Task Scheduler.",
                Tools = new List<string>{ "ASP.Net MVC 5", "EF6" },
                Features = new List<string>{"Export to excel"}
             },
             new ProjectTransferObject
             {
                Name   = "E-Procurement",
                Overview = "Online procurement",
                Tools = new List<string>{ "ASP.Net MVC 5", "EF6", "KendoUI for JQuery" },
                Features = new List<string>{ "E-Tender"}
             },
             new ProjectTransferObject
             {
                Name   = "Sumber Belajar",
                Overview = "Digital learning source with video or pdf based. Source is provided by goverment, teacher or community.",
                Tools = new List<string>{"ASP.Net Core 2.1", "EF Core"},
                Features = new List<string>{ }
             },
             new ProjectTransferObject
             {
                Name   = "Bank Soal",
                Overview = "Exam online for measuring student knowledge.",
                Tools = new List<string>{"ASP.Net MVC 5", "EF6"},
                Features = new List<string>{ "Exam Online" }
             },
             new ProjectTransferObject
             {
                Name   = "Simpeka",
                Overview = "Monitor employee's bussines trip and report document.",
                Tools = new List<string>{"ASP.Net MVC 5", "EF6"},
                Features = new List<string>
                {
                    "Calendar timeline",
                }
             },
        };
    }
}
